<div class="container">
  <h1>Query Results</h1>
  <%= render "xquery/search_form" %>
  <a href="https://www.w3schools.com/xml/xquery_intro.asp" target="_blank">Not the results you expected? Try this XQuery tutorial provided by W3Schools</a><br>
  <p>Search returned <%=@number_of_results %> results</p>
  <pre><code><%=@query_result%></code></pre>
</div>
